.sales-list-container {
  padding: 2rem;
  margin-top: 64px;

  h2 {
    margin-bottom: 1rem;
    color: #333;
  }

  // Container com rolagem horizontal
  table {
    width: 100%;
    border: 1px solid #e0e0e0;
    overflow-x: auto;
    display: block; // Permite scroll horizontal em telas pequenas

    th,
    td {
      white-space: nowrap; // Impede quebra de texto
      padding: 8px 12px;
      text-align: left;
    }

    th {
      background-color: #f5f5f5;
    }
  }

  .product-list {
    margin: 0;
    padding-left: 1rem;
    list-style-type: none;

    li {
      margin-bottom: 0.3rem;
    }
  }

  button {
    margin-top: 1rem;
  }

  @media (max-width: 600px) {
    padding: 1rem;

    h2 {
      font-size: 1.25rem;
    }

    button {
      width: 100%;
    }
  }
}
